#backtotop {
	position: fixed;
	right:0px;
	bottom:15px;
	display:none;/*hid the button first*/
}
#backtotop a {
	text-decoration:none;
	border:0 none;
	display:block;
	width:60px;
	height:90px;
}
#backtotop a:hover {
	opacity:.8; /*mouse over fade effect*/
}
.clrb {
	clear:both;
}
#maindiv {
	width:700px;
	border:1px solid #999;
	margin:auto;
	padding:20px;
}